/* * Styles for the tilt block */
*/ #tilt {
    display: block;
    height: 200px;
    width: 300px;
    background-color: grey;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
}

#tilt:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.journal-iframe-wrapper.modal-dialog {
    max-width: 90% !important;
}

.journal-iframe-wrapper.modal-dialog iframe {
    height: 98vh;
    /* width: 100%; */
}

.tmpContainer {
    height: 100% !important;
    width: 100% !important;
}


.flex-column-wrapper {
    display: flex;
    flex-direction: column;
}

.stick-on-bottom {
    margin-top: auto;
}

.banner {
    display: none !important;
}

.alas {
    z-index: 0;
    position: relative;
    bottom: 30px;
    display: none;
}



.cover-wrapper {
    border: 0px solid white !important;
}

.cover-img {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 10px;
    border-radius: 10px;
}

.c-card-body {
    padding: 10px !important;
}


.c-modal-dialog {
    max-width: 600px !important;
}

.journal-cover-display {
    display: none;
}

.journal-item-container {
    margin-bottom: 30px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .journal-cover-display {
        display: block !important;
    }

    .journal-item-container {
        margin-bottom: 0px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .banner {
        display: block !important;
    }

    .alas {
        display: block !important;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}