.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1440px;
    height: 800px;
    background: #FAFAFA;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    width: 406px;
    height: 38px;
    background: #1E88E5;
    border-radius: 8px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}