.nav-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}

.custom-dropdown-menu {
  right: 0 !important;
  left: inherit !important;
}

.user-dropdown {
  display: none;
}

.user-button{
  background-color: transparent !important;
}

@media only screen and (min-width: 992px) {
  .nav-item-wrapper {
    display: none !important;
  }


  .user-dropdown {
    display: block;
  }

}